@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", serif;

}


/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(68, 67, 67);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
